body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(234 20% 30%);
    box-sizing: border-box;
    text-align: center;
}

h1 {
    color: 	hsl(52 50% 91%);
    font-size: 3em;
}

button {
    font-size: 2em;
    border-radius: 10px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
    min-height: 80vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.numberDisplay {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: hsl(163 5% 71%);
    /* box-shadow: inset -5px -5px grey; */
    border: 5px groove hsl(163 5% 45%);
    text-align: right;
    font-size: 24px;
    padding-right: .5em;
}

.number {
    background-color: hsl(13 68% 63%);
    box-shadow: inset -5px -5px 5px hsl(13 68% 25%);
}

.operator,
.clear,
.posNeg {
    background-color: hsl(37 79% 75%);
    box-shadow: inset -5px -5px 5px hsl(37 79% 25%)
}

.equals {
    grid-column-start: 4;
    grid-row-start: 6;
    background-color: hsl(151 24% 60%);
    box-shadow: inset -5px -5px 5px hsl(151 24% 25%)
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}
